In [1]:
import pandas as pd

In [3]:
dem = pd.read_csv('cleaned_data/cleaned_dem.csv')
dem.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,Asian,Hispanic
0,1,1,Autauga,Alabama,AL,48612,10.4,13076.628,30285.276,4763.976,437.508,39229.884,8409.876,243.060,291.672,826.404
1,1,3,Baldwin,Alabama,AL,162586,10.2,38207.710,98039.358,23574.970,2926.548,143726.024,16096.014,812.930,650.344,3739.478
2,1,5,Barbour,Alabama,AL,28414,22.1,6904.602,17758.750,3296.024,454.624,14832.108,13297.752,113.656,85.242,880.834
3,1,7,Bibb,Alabama,AL,21516,16.8,5292.936,13619.628,2345.244,258.192,16524.288,4841.100,64.548,21.516,301.224
4,1,9,Blount,Alabama,AL,55725,11.9,13652.625,34605.225,6742.725,724.425,54108.975,835.875,278.625,111.450,3510.675

In [4]:
# change percentages to value

def perc_to_num(df, list_of_cols):
    for col in list_of_cols:
        df[col] = df[col].multiply(dem['Population_Size'],axis='index').div(100)

In [5]:
perc_to_num(dem, ['Poverty'])

In [6]:
dem.describe()

,State_FIPS_Code,County_FIPS_Code,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,Asian,Hispanic
count,3141.000000,3141.000000,3.141000e+03,3.141000e+03,3.141000e+03,3.141000e+03,3141.000000,3141.000000,3.141000e+03,3.141000e+03,3141.000000,3.141000e+03,3.141000e+03
mean,30.304680,103.716651,9.436816e+04,1.177008e+04,2.468405e+04,5.797292e+04,10089.331974,1621.797751,7.572862e+04,1.207006e+04,914.653692,4.201158e+03,1.339868e+04
std,15.134423,107.999484,3.064317e+05,4.708537e+04,8.527500e+04,1.880628e+05,29338.196261,4925.212428,2.287225e+05,5.604236e+04,3971.354953,3.418882e+04,1.077090e+05
min,1.000000,1.000000,6.200000e+01,8.308000e+00,1.554000e+00,3.397600e+01,12.987000,0.992000,4.595400e+01,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,18.000000,35.000000,1.121100e+04,1.486762e+03,2.713249e+03,6.628820e+03,1470.832000,233.748000,9.301040e+03,7.926600e+01,38.368000,3.277500e+01,1.962240e+02
50%,29.000000,79.000000,2.523500e+04,3.385224e+03,6.303150e+03,1.541526e+04,3168.648000,492.168000,2.215833e+04,7.084920e+02,122.430000,1.149850e+02,6.370700e+02
75%,45.000000,133.000000,6.404000e+04,7.980630e+03,1.615601e+04,3.931940e+04,7624.047000,1113.232000,5.697044e+04,5.140575e+03,446.995000,5.646150e+02,3.059418e+03
max,56.000000,840.000000,9.935475e+06,1.758579e+06,2.871352e+06,6.060640e+06,864386.325000,139096.650000,7.362187e+06,1.400172e+06,109290.225000,1.331354e+06,4.610060e+06

### Stats Stuff