In [5]:
import pandas as pd

In [6]:
dem = pd.read_csv('cleaned_data/cleaned_dem.csv')
dem.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,Asian,Hispanic
0,1,1,Autauga,Alabama,AL,48612,10.4,13076.628,30285.276,4763.976,437.508,39229.884,8409.876,243.060,291.672,826.404
1,1,3,Baldwin,Alabama,AL,162586,10.2,38207.710,98039.358,23574.970,2926.548,143726.024,16096.014,812.930,650.344,3739.478
2,1,5,Barbour,Alabama,AL,28414,22.1,6904.602,17758.750,3296.024,454.624,14832.108,13297.752,113.656,85.242,880.834
3,1,7,Bibb,Alabama,AL,21516,16.8,5292.936,13619.628,2345.244,258.192,16524.288,4841.100,64.548,21.516,301.224
4,1,9,Blount,Alabama,AL,55725,11.9,13652.625,34605.225,6742.725,724.425,54108.975,835.875,278.625,111.450,3510.675

In [7]:
# change percentages to value

def perc_to_num(df, list_of_cols):
    for col in list_of_cols:
        df[col] = df[col].multiply(dem['Population_Size'],axis='index').div(100)

In [8]:
perc_to_num(dem, ['Poverty'])

In [9]:
dem.describe()

,State_FIPS_Code,County_FIPS_Code,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,Asian,Hispanic
count,3141.000000,3141.000000,3.141000e+03,3.141000e+03,3.141000e+03,3.141000e+03,3141.000000,3141.000000,3.141000e+03,3.141000e+03,3141.000000,3.141000e+03,3.141000e+03
mean,30.304680,103.716651,9.436816e+04,1.177008e+04,2.468405e+04,5.797292e+04,10089.331974,1621.797751,7.572862e+04,1.207006e+04,914.653692,4.201158e+03,1.339868e+04
std,15.134423,107.999484,3.064317e+05,4.708537e+04,8.527500e+04,1.880628e+05,29338.196261,4925.212428,2.287225e+05,5.604236e+04,3971.354953,3.418882e+04,1.077090e+05
min,1.000000,1.000000,6.200000e+01,8.308000e+00,1.554000e+00,3.397600e+01,12.987000,0.992000,4.595400e+01,0.000000e+00,0.000000,0.000000e+00,0.000000e+00
25%,18.000000,35.000000,1.121100e+04,1.486762e+03,2.713249e+03,6.628820e+03,1470.832000,233.748000,9.301040e+03,7.926600e+01,38.368000,3.277500e+01,1.962240e+02
50%,29.000000,79.000000,2.523500e+04,3.385224e+03,6.303150e+03,1.541526e+04,3168.648000,492.168000,2.215833e+04,7.084920e+02,122.430000,1.149850e+02,6.370700e+02
75%,45.000000,133.000000,6.404000e+04,7.980630e+03,1.615601e+04,3.931940e+04,7624.047000,1113.232000,5.697044e+04,5.140575e+03,446.995000,5.646150e+02,3.059418e+03
max,56.000000,840.000000,9.935475e+06,1.758579e+06,2.871352e+06,6.060640e+06,864386.325000,139096.650000,7.362187e+06,1.400172e+06,109290.225000,1.331354e+06,4.610060e+06

### Merge DF's

In [15]:
risk = pd.read_csv('cleaned_data/cleaned_risk.csv')
risk.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Strata_ID_Number,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured
0,1,1,Autauga,Alabama,AL,29,27.800000,78.600000,24.500000,29.100000,26.60000,14.2,5690.0
1,1,3,Baldwin,Alabama,AL,16,27.200000,76.200000,23.600000,30.500000,24.60000,7.2,19798.0
2,1,5,Barbour,Alabama,AL,51,26.508386,78.923162,25.600000,26.480946,17.70000,6.6,5126.0
3,1,7,Bibb,Alabama,AL,42,26.508386,86.600000,24.145189,26.480946,23.11288,13.1,3315.0
4,1,9,Blount,Alabama,AL,28,33.500000,74.600000,24.200000,26.480946,23.60000,8.4,8131.0

In [16]:
risk_dem = dem.merge(risk, how='outer')

In [18]:
risk_dem.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,...,Asian,Hispanic,Strata_ID_Number,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured
0,1,1,Autauga,Alabama,AL,48612,5055.648,13076.628,30285.276,4763.976,...,291.672,826.404,29,27.800000,78.600000,24.500000,29.100000,26.60000,14.2,5690.0
1,1,3,Baldwin,Alabama,AL,162586,16583.772,38207.710,98039.358,23574.970,...,650.344,3739.478,16,27.200000,76.200000,23.600000,30.500000,24.60000,7.2,19798.0
2,1,5,Barbour,Alabama,AL,28414,6279.494,6904.602,17758.750,3296.024,...,85.242,880.834,51,26.508386,78.923162,25.600000,26.480946,17.70000,6.6,5126.0
3,1,7,Bibb,Alabama,AL,21516,3614.688,5292.936,13619.628,2345.244,...,21.516,301.224,42,26.508386,86.600000,24.145189,26.480946,23.11288,13.1,3315.0
4,1,9,Blount,Alabama,AL,55725,6631.275,13652.625,34605.225,6742.725,...,111.450,3510.675,28,33.500000,74.600000,24.200000,26.480946,23.60000,8.4,8131.0

In [19]:
risk_dem = risk_dem.drop(['Strata_ID_Number'], axis=1)

In [20]:
risk_dem.describe()

,State_FIPS_Code,County_FIPS_Code,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,Age_85_and_Over,White,Black,Native_American,Asian,Hispanic,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured
count,3141.000000,3141.000000,3.141000e+03,3.141000e+03,3.141000e+03,3.141000e+03,3141.000000,3141.000000,3.141000e+03,3.141000e+03,3141.000000,3.141000e+03,3.141000e+03,3141.000000,3141.000000,3141.000000,3141.000000,3141.000000,3141.000000,3.141000e+03
mean,30.304680,103.716651,9.436816e+04,1.177008e+04,2.468405e+04,5.797292e+04,10089.331974,1621.797751,7.572862e+04,1.207006e+04,914.653692,4.201158e+03,1.339868e+04,26.508386,78.923162,24.145189,26.480946,23.112880,7.810188,1.265902e+04
std,15.134423,107.999484,3.064317e+05,4.708537e+04,8.527500e+04,1.880628e+05,29338.196261,4925.212428,2.287225e+05,5.604236e+04,3971.354953,3.418882e+04,1.077090e+05,5.611075,4.017741,4.126357,3.783796,4.870894,2.572103,5.460284e+04
min,1.000000,1.000000,6.200000e+01,8.308000e+00,1.554000e+00,3.397600e+01,12.987000,0.992000,4.595400e+01,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,8.300000,63.100000,4.200000,7.200000,3.600000,0.500000,1.100000e+01
25%,18.000000,35.000000,1.121100e+04,1.486762e+03,2.713249e+03,6.628820e+03,1470.832000,233.748000,9.301040e+03,7.926600e+01,38.368000,3.277500e+01,1.962240e+02,23.800000,77.900000,22.500000,26.400000,20.900000,6.200000,1.551000e+03
50%,29.000000,79.000000,2.523500e+04,3.385224e+03,6.303150e+03,1.541526e+04,3168.648000,492.168000,2.215833e+04,7.084920e+02,122.430000,1.149850e+02,6.370700e+02,26.508386,78.923162,24.145189,26.480946,23.112880,7.810188,3.434000e+03
75%,45.000000,133.000000,6.404000e+04,7.980630e+03,1.615601e+04,3.931940e+04,7624.047000,1113.232000,5.697044e+04,5.140575e+03,446.995000,5.646150e+02,3.059418e+03,28.600000,80.200000,25.800000,26.480946,25.100000,9.100000,8.126000e+03
max,56.000000,840.000000,9.935475e+06,1.758579e+06,2.871352e+06,6.060640e+06,864386.325000,139096.650000,7.362187e+06,1.400172e+06,109290.225000,1.331354e+06,4.610060e+06,52.400000,96.400000,42.600000,47.100000,46.200000,20.800000,2.167891e+06

In [21]:
def perc_to_num(df, list_of_cols):
    for col in list_of_cols:
        df[col] = df[col].multiply(dem['Population_Size'],axis='index').div(100)

In [22]:
perc_to_num(risk_dem, ['No_Exercise','Few_Fruit_Veg','Obesity','High_Blood_Pres','Smoker','Diabetes'])

In [23]:
risk_dem.head()

,State_FIPS_Code,County_FIPS_Code,CHSI_County_Name,CHSI_State_Name,CHSI_State_Abbr,Population_Size,Poverty,Age_19_Under,Age_19_64,Age_65_84,...,Native_American,Asian,Hispanic,No_Exercise,Few_Fruit_Veg,Obesity,High_Blood_Pres,Smoker,Diabetes,Uninsured
0,1,1,Autauga,Alabama,AL,48612,5055.648,13076.628,30285.276,4763.976,...,243.060,291.672,826.404,13514.136000,38209.032000,11909.940000,14146.092000,12930.79200,6902.904,5690.0
1,1,3,Baldwin,Alabama,AL,162586,16583.772,38207.710,98039.358,23574.970,...,812.930,650.344,3739.478,44223.392000,123890.532000,38370.296000,49588.730000,39996.15600,11706.192,19798.0
2,1,5,Barbour,Alabama,AL,28414,6279.494,6904.602,17758.750,3296.024,...,113.656,85.242,880.834,7532.092860,22425.227184,7273.984000,7524.296032,5029.27800,1875.324,5126.0
3,1,7,Bibb,Alabama,AL,21516,3614.688,5292.936,13619.628,2345.244,...,64.548,21.516,301.224,5703.544379,18632.856000,5195.078833,5697.640368,4972.96736,2818.596,3315.0
4,1,9,Blount,Alabama,AL,55725,6631.275,13652.625,34605.225,6742.725,...,278.625,111.450,3510.675,18667.875000,41570.850000,13485.450000,14756.507227,13151.10000,4680.900,8131.0

In [24]:
dem_risk = risk_dem.to_csv('/cleaned_data/dem_risk.csv',index=False)

FileNotFoundError: [Errno 2] No such file or directory: '/cleaned_data/dem_risk.csv'